@import "../../../variables.scss";

.wrapper {
  width: 100%;
  height: 5rem;
  background-color: $primary-color;
}

.main-header {
  width: 100%;
  height: 5rem;
  background-color: $important-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 15px 15px;
}
.brand {
  margin: 0.5rem;
  > img {
    margin-right: 0.5rem;
    border-radius: 5px;
  }
}
.nav__actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-nav {
  display: none;
}
.main-nav__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-nav__item {
  padding: 1.1rem;
  > a {
    color: $secondary-color;
    font-weight: bold;
    font-size: 1.2rem;
  }
  a {
    &:hover {
      border-bottom: 2px $secondary-color solid;
    }
    &:active {
      border-bottom: 2px $secondary-color solid;
    }
  }
}
.mobile-nav {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease-in;
  position: fixed;
  z-index: 301;
  top: 0;
  left: 0;
  background: $primary-color;
  width: 80%;
  height: 110vh;
  position: relative;
}
// .nav__image {
//   position: absolute;
//   top: 12%;
//   left: 20%;
// }
.mobile-nav__items {
  width: 90%;
  height: 50%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-nav__item {
  margin: 1rem 0;
  > a {
    font-size: 1.5rem;
    color: $secondary-color;
    font-weight: bold;
  }
}
.active {
  border-bottom: 2px $secondary-color solid;
}
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  &:focus {
    outline: none;
  }
}
.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: $secondary-color;
  display: block;
  margin: 0.6rem 0;
}

.main-nav__item,
.mobile-nav__item {
  cursor: pointer;
}

.gains {
  font-size: 1.5rem;
  color: $highlight;
  font-weight: bold;
}

.switch {
  font-size: 1.5rem;
  color: $highlight;
  margin: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.logout {
  font: inherit;
  font-weight: bold;
  border-radius: 25px;
  background: transparent;
  color: red;
  width: 80%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border: 2px solid red;
  padding: 0.7rem;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
