<app-header></app-header>
<main class="order-container">
    <div *ngIf="displayedOrders.length > 0">
        <h1 class="title">Pickups</h1>
        <div class="divider"></div>
        <h1 class="title">{{ switch ? 'Coming Orders' : 'Fulfilled Orders' }}</h1>
        <app-pickup-item *ngFor="let order of displayedOrders" 
            [id]="order.id" 
            [name]="order.clientname"
            [eta]="order.eta"
            [createdAt]="order.createdAt"
            [method]="order.method"
            [fulfilled]="order.fulfilled"
            [total]="order.total">

        </app-pickup-item>
    </div>
    <div *ngIf="displayedOrders.length <= 0" class="empty">
        No Orders Yet.
    </div>
</main>
