@import "../../variables.scss";

.order-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $primary-color;
}

.title {
  color: $highlight;
  letter-spacing: 0.2rem;
  font-weight: bold;
  text-align: center;
}

.empty {
  padding: 1rem;
  margin: auto;
}

.divider {
  width: 80%;
  height: 5px;
  border-radius: 15px;
  background-color: $secondary-color;
  text-align: center;
  margin: auto;
}
